<a href="https://colab.research.google.com/github/lsilva18/cenarios/blob/main/cenario_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cenário II

O segundo entregável consiste na transformação de dados disponíveis em <a href="https://drive.google.com/file/d/1IDCjpDZh5St97jw4K_bAewJ8hf-rax9C/view?usp=sharing">arquivo Json</a> para o formato de dataframe, algo comum no dia a dia da empresa. Após transformar esse Json em dataframe é possível perceber que a coluna "item_list" está como dicionário. Seu gestor pediu dois pontos de atenção nessa tarefa:

- Expandir a coluna num mesmo dataframe;
- Normalizar os itens dessa coluna de dicionário e dividí-los em dois dataframes separados, seguindo o modelo relacional.

## Libs

In [ ]:
import pandas as pd
from pandas import json_normalize

In [ ]:
pd.set_option('display.max_colwidth', None)

## Dados

In [ ]:
df = pd.read_json('data.json')
df

               CreateDate  ...                                                                                                                                                                             ItemList
0  2021-05-24T20:21:34.79  ...            [{'ProductName': 'Rice', 'Value': 35.55, 'Quantity': 2}, {'ProductName': 'Flour', 'Value': 11.55, 'Quantity': 5}, {'ProductName': 'Bean', 'Value': 27.15, 'Quantity': 7}]
1  2021-05-24T20:21:34.79  ...                                                                  [{'ProductName': 'Tomate', 'Value': 12.25, 'Quantity': 10}, {'ProductName': 'Pasta', 'Value': 7.55, 'Quantity': 5}]
2  2021-05-24T20:21:34.79  ...  [{'ProductName': 'Beer', 'Value': 9.0, 'Quantity': 6}, {'ProductName': 'French fries', 'Value': 10.99, 'Quantity': 2}, {'ProductName': 'Ice cream', 'Value': 27.15, 'Quantity': 1}]

[3 rows x 6 columns]

## Solução

In [ ]:
df.set_index('NFeID', inplace=True)
df

                   CreateDate  ...                                                                                                                                                                             ItemList
NFeID                          ...
1      2021-05-24T20:21:34.79  ...            [{'ProductName': 'Rice', 'Value': 35.55, 'Quantity': 2}, {'ProductName': 'Flour', 'Value': 11.55, 'Quantity': 5}, {'ProductName': 'Bean', 'Value': 27.15, 'Quantity': 7}]
2      2021-05-24T20:21:34.79  ...                                                                  [{'ProductName': 'Tomate', 'Value': 12.25, 'Quantity': 10}, {'ProductName': 'Pasta', 'Value': 7.55, 'Quantity': 5}]
3      2021-05-24T20:21:34.79  ...  [{'ProductName': 'Beer', 'Value': 9.0, 'Quantity': 6}, {'ProductName': 'French fries', 'Value': 10.99, 'Quantity': 2}, {'ProductName': 'Ice cream', 'Value': 27.15, 'Quantity': 1}]

[3 rows x 5 columns]

In [ ]:
df2 = pd.concat([pd.DataFrame(data=row.ItemList) for i, row in df.iterrows()])
df2.reset_index(drop=False, inplace=True)
df2['index'] = df.index[df2['index']]
df2.rename(columns={'index':'NFeID'}, inplace=True)
df2

   NFeID   ProductName  Value  Quantity
0      1          Rice  35.55         2
1      2         Flour  11.55         5
2      3          Bean  27.15         7
3      1        Tomate  12.25        10
4      2         Pasta   7.55         5
5      1          Beer   9.00         6
6      2  French fries  10.99         2
7      3     Ice cream  27.15         1

In [ ]:
df.drop(columns=['ItemList'], inplace=True)
df

                   CreateDate         EmissionDate  Discount  NFeNumber
NFeID
1      2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        501
2      2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        502
3      2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        503

# Resultado

In [ ]:
df

                   CreateDate         EmissionDate  Discount  NFeNumber
NFeID
1      2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        501
2      2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        502
3      2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        503

In [ ]:
df2

   NFeID   ProductName  Value  Quantity
0      1          Rice  35.55         2
1      2         Flour  11.55         5
2      3          Bean  27.15         7
3      1        Tomate  12.25        10
4      2         Pasta   7.55         5
5      1          Beer   9.00         6
6      2  French fries  10.99         2
7      3     Ice cream  27.15         1